<div class="logo">
  <img src="/images/razorclaw.ico" alt="Razor's Edge Logo" />
  <a href="/index.html"><h1>Razor's Edge Wilderness Guide</h1></a>
</div>

<nav>
  <ul>
    <li id="home" class="active"><a href="/index.html">Home</a></li>
    <li id="parks"><a href="/src/pages/parks/index.html">Parks</a></li>
    <li id="near"><a href="/src/pages/near_me/index.html">Near Me</a></li>
    <li id="favoritesLink">
      <a href="/src/pages/favorites/index.html">Favorites</a>
    </li>
  </ul>
</nav>
